.hero {
  background: #98b8e5 url("../img/hero1-desktop.jpg") center no-repeat;
  background-size: cover;
  padding-bottom: 60px;

  @media (min-width: $vp-768) and (max-width: 1199px) {
    padding-bottom: 60px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding-bottom: 20px;
  }
}

.hero__wrapper {
  //position: relative;
  padding-top: 363px;

  @media (max-width: 1199px) {
    padding-top: 630px;
  }

  @media (max-width: 767px) {
    padding-top: 68px;
  }
}

.hero__text-wrapper h1 {
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px;
  color: $color-neon-blue;
  padding: 40px 50px 30px 50px;
  background-color: $color-default-white;
  border-radius: 0 30px 30px 0;

  @media (max-width: 1199px) {
    font-size: 36px;
    line-height: 44px;
    padding: 30px 40px 24px 40px;
  }

  @media screen and (max-width: 767px) {
    font-size: 22px;
    line-height: 26px;
    padding: 20px 15px 16px 14px;
  }
}

.hero__text-conteiner {
  display: flex;
  gap: 30px;
  padding: 0 50px 35px 50px;
  background-color: $color-default-white;
  border-radius: 0 0 30px 30px;
  max-width: 772px;

  @media (max-width: 1199px) {
    max-width: 591px;
    padding: 0 40px 35px 40px;
  }

  @media screen and (max-width: 767px) {
    display: block;
    max-width: 261px;
    padding: 0 15px 10px 15px;
  }
}

.hero__text-conteiner p {
  max-width: 450px;

  @media (max-width: 1199px) {
    line-height: 20px;
  }

  @media screen and (max-width: 767px) {
    font-size: 14px;
    padding-bottom: 15px;
  }
}

.hero__text-wrapper .btn {
  //display: block;

  @media (max-width: 1199px) {
    //margin-bottom: 50px;
    //max-width: 206px;
    //margin-left: auto;
    //margin-right: auto;
  }

  @media (max-width: 767px) {
   // margin-bottom: 50px;
    //max-width: 100%;
    //margin-right: 55px;
    //margin-left: 55px;
    margin-top: 10px;
  }
}

.hero__slider-wrapper .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid $color-default-white;
  opacity: 1;

  @media screen and (max-width: 767px) {
    width: 8px;
    height: 8px;
  }
}

.hero__slider-wrapper .swiper-pagination-bullet-active {
  background-color: $color-default-white;
}

.hero__slider-wrapper .swiper-pagination {
  text-align: right;
  bottom: 12px;
  left: auto;
  right: -7px;

  @media (max-width: 1199px) {
    text-align: center;
    bottom: 0;
    left: 0;
  }
}
